Repository cloud-bulldozer/perfscale-managed-services, pull requests merged in 2021-03, with the labels that each got.

#59 Move osde2e wrapper to its own folder and move common functions to a lib
  .github/workflows/tests.yml
  .gitignore
  README.md
  libs/__init__.py
  libs/common.py
  libs/requirements.txt
  osde2e/README.md
  osde2e/libs
  osde2e/osde2e-wrapper.py
  osde2e/requirements.txt
  requirements.txt
  rosa/README.md
  rosa/libs
  rosa/requirements.txt
  rosa/rosa-wrapper.py
  tests/libs
  tests/test_es_metadata.py
  tox.ini
Labels: P2, enhancement

#67 Fix es ignored metadata option
  .github/workflows/tests.yml
  libs/common.py
  osde2e/osde2e-wrapper.py
  rosa/rosa-wrapper.py
  test-requirements.txt
  tox.ini
Labels: P3

#61 Kubeconfig error
  osde2e/osde2e-wrapper.py
Labels: enhancement, osde2e

#62 Refact watcher and cleanup to search using cluster_name_seed
  osde2e/osde2e-wrapper.py
Labels: enhancement, osde2e

#69 Add container test runner
  README.md
  test-requirements.txt
  tests/Dockerfile
  tests/test-requirements.txt
  tox.ini
Labels: P3

#75 fix typo on cluster-id from metadata.json file
  osde2e/osde2e-wrapper.py
Labels: P1, bug, osde2e
